h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #495e57;
}

form{
  width: 100%;
}

input, select, button{
  border: 1px solid #f4ce14;
  padding: 5px;
  border-radius: 16px;
  text-align: center;
  background-color: #ffffff;
}

#button{
  font-weight: bolder;
  background-color: #f4ce14;
  padding:7px 15px;
}

#button:hover{
  background-color: #d0b117;
  border-color: #d0b117;
}

#button:active{
  background-color: #495e57;
  color: #ffffff;
}

#button:disabled{
  background-color: #6666;
  color:#000
}